@using Microsoft.AspNetCore.Identity
@using RestauranteStore.EF.Models;
@using RestauranteStore.Infrastructure.Services.AdminService;
@inject UserManager<User> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject IAdminService adminService
@{
	//var user = ViewData["User"] as User;
	//var role = (string)(ViewData["role"]??"") ;
	var user = await UserManager.GetUserAsync(Context.User);
	string? role = null;
	if (user == null)
	{
		user = new User();
		user.Admin = new Admin();
		user.Admin.Logo = "000";
	}

	else
	{
		user.Admin = adminService.GetAdminByUserId(user.Id);
		role = (await UserManager.GetRolesAsync(user))[0];
	}


}
<div class="d-flex flex-column flex-center flex-column-fluid">
	<!--begin::Content-->
	<div class="d-flex flex-column flex-center text-center p-10">
		<!--begin::Wrapper-->
		<div class="card card-flush w-lg-650px py-5">
			<div class="card-body py-15 py-lg-20">
				<!--begin::Title-->
				<h1 class="fw-bolder fs-2qx text-gray-900 mb-4">Welcom Page</h1>
				<!--end::Title-->
				<!--begin::Text-->
				<div class="fw-semibold fs-6 text-gray-500 mb-7">Hello @user.UserName <span> {@user.UserType.ToString()}</span></div>
				<!--end::Text-->
				<!--begin::Illustration-->
				<div class="mb-11">
					<img src="\assets\media\svg\illustrations\easy\5.svg" class="mw-100 mh-300px theme-light-show" alt="" />
					<img src="\assets\media\svg\illustrations\easy\5.svg" class="mw-100 mh-300px theme-dark-show" alt="" />
				</div>
				<!--end::Illustration-->
				<!--begin::Link-->

				<!--end::Link-->
			</div>
		</div>
		<!--end::Wrapper-->
	</div>
	<!--end::Content-->
</div>