<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="104857600" />
			</requestFiltering>
		</security>
	</system.webServer>
	<system.web>
		<httpRuntime executionTimeout="36000" />
		<!-- Set to desired value in seconds -->
	</system.web>
</configuration>