<!--begin:Menu link-->
<a class="menu-link active" asp-controller="Admins" asp-action="Index">
	<span class="menu-bullet">
		<span class="bullet bullet-dot"></span>
	</span>
	<span class="menu-title">Admin Management</span>
</a>
<!--end:Menu link-->
