													<!--begin:Menu item-->
<div data-kt-menu-trigger="click" class="menu-item here show menu-accordion menu-sub-indention">
	<!--begin:Menu link-->
	<span class="menu-link">
		<span class="menu-bullet">
			<span class="bullet bullet-dot"></span>
		</span>
		<span class="menu-title">Sales</span>
		<span class="menu-arrow"></span>
	</span>
	<!--end:Menu link-->
	<!--begin:Menu sub-->
	<div class="menu-sub menu-sub-accordion">
		<!--begin:Menu item-->
		<div class="menu-item">
			<!--begin:Menu link-->
			<a class="menu-link" asp-controller="Orders" asp-action="IndexRestaurant">
				<span class="menu-bullet">
					<span class="bullet bullet-dot"></span>
				</span>
				<span class="menu-title">Orders Listing</span>
			</a>
			<!--end:Menu link-->
		</div>
		<!--end:Menu item-->
		<!--begin:Menu item-->
		<div class="menu-item">
			<!--begin:Menu link-->
			<a class="menu-link" asp-controller="Orders" asp-action="Add_Order">
				<span class="menu-bullet">
					<span class="bullet bullet-dot"></span>
				</span>
				<span class="menu-title">Add Order</span>
			</a>
			<!--end:Menu link-->
		</div>
		<!--end:Menu item-->
	</div>
	<!--end:Menu sub-->
</div>
<!--end:Menu item-->