
<!--begin:Menu link-->
<a id="usersLink" class="menu-link active" asp-controller="Products" asp-action="Index">
	<span class="menu-bullet">
		<span class="bullet bullet-dot"></span>
	</span>
	<span class="menu-title">Product Management</span>
</a>


<!--begin:Menu link-->
<a id="usersLink" class="menu-link active" asp-controller="Orders" asp-action="IndexSupplier">
	<span class="menu-bullet">
		<span class="bullet bullet-dot"></span>
	</span>
	<span class="menu-title">Order List</span>
</a>
