@using Microsoft.AspNetCore.Identity
@using RestaurantStore.EF.Models;
 
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <!--begin::Menu item-->
    <div class="menu-item px-5">
        <a class="menu-link px-5" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </div>
    <!--end::Menu item-->
    <!--begin::Menu item-->
    <div class="menu-item px-5">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class=" btn btn-link text-danger menu-link px-5">Logout</button>
        </form>
    </div>
    <!--end::Menu item-->
}
else
{
    <!--begin::Menu item-->
    <div class="menu-item px-5">
        <a class="menu-link px-5" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
    <!--end::Menu item-->
    <!--begin::Menu item-->
    <div class="menu-item px-5">
        <a class="menu-link px-5" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
    <!--end::Menu item-->
}

